@model IEnumerable<_01_Music.Models.Album>

<ul>
 @foreach (var album in Model)
 {
     <li>
     @Html.ActionLink(album.Title,    
        "Browse", "Album", 
        new {Title =album.Title},null)
     </li> 
     
 }

</ul>
