
<style>
    .error {
        color: red;
    }
</style>

<div ng-controller="ListController" class="row">
    
    <div id="mydiv" data-ng-show="loading">
        <img src="../../Image/ajax-loader.gif" width="40" height="45" class="ajax-loader" />
    </div>
    
    <p data-ng-hide="addMode"><a data-ng-click="toggleAdd()" href="javascript:;" class="btn btn-primary">Add New</a></p>

    <div class="row" style="width:600px;margin:0px auto;">
        <div class="col-md-12">
            <div class="form-group">
                <p><strong class="error">{{ error }}</strong></p>
            </div>
        </div>
    </div>
            <div class="row">
                <div class="col-md-12">
                    <!--<div ng-include="'/Client/views/create.html'"></div>-->
                    <form name="addCustomerForm" data-ng-show="addMode" style="width:600px;margin:0px auto;">

                        <div class="form-group">
                            <label for="cname" class="col-sm-2 control-label">Name:</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="cname" maxlength="20" placeholder="please enter your name" data-ng-model="newcustomer.name" required />
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="address" class="col-sm-2 control-label">Address:</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="address" placeholder="please enter your address" data-ng-model="newcustomer.address" required />
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="country" class="col-sm-2 control-label">Country:</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="country" placeholder="please enter your country" data-ng-model="newcustomer.country" required />
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="city" class="col-sm-2 control-label">City:</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="city" placeholder="please enter your city" data-ng-model="newcustomer.city" required />
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="age" class="col-sm-2 control-label">Age:</label>
                            <div class="col-sm-10">
                                <input type="number" class="form-control" id="age" placeholder="please enter your age" data-ng-model="newcustomer.age" maxlength="3" required min="0" max="200" />
                            </div>
                        </div>
                        <br />
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <input type="submit" value="Add" data-ng-click="save(newcustomer)" class="btn btn-primary" />
                                <input type="button" value="Cancel" data-ng-click="toggleAdd()" class="btn btn-primary" />
                            </div>
                        </div>

                    </form>

                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="table-responsive">
                        Total <strong>{{customers.length}} </strong>records

                        <table class="table table-bordered table-hover" style="width:800px">
                            <thead>
                                <tr>
                                    <th>No.</th>
                                    <th>Name</th>

                                    <th>Address</th>
                                    <th>City</th>

                                    <th>Country</th>
                                    <th>Age</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr data-ng-repeat="customer in customers">
                                    <td><p data-ng-hide="customer.editMode">{{ $index+1 }}</p></td>

                                    <td>
                                        <p>{{ customer.name }}</p>

                                    </td>
                                    <td>
                                        <p data-ng-hide="customer.editMode">{{ customer.address }}</p>

                                    </td>
                                    <td>
                                        <p>{{ customer.city }}</p>

                                    </td>
                                    <td>
                                        <p>{{ customer.country }}</p>

                                    </td>
                                    <td>
                                        <p>{{ customer.age }}</p>

                                    </td>
                                    <td>

                                        <p>
                                            <a href="#/details/{{customer.id}}">details</a> |
                                            <a data-ng-click="delete(customer)" href="javascript:;">delete</a>
                                        </p>
                                        <!--<p><a data-ng-click="edit()" href="javascript:;">Edit</a> | <a data-ng-click="deletecustomer(customer)" href="javascript:;">Delete</a></p>-->
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>

        </div>
