<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title></title>
	<meta charset="utf-8" />
</head>
<body ng-app>
    <div>
        <h2>All Products</h2>
        <ul id="products" />
    </div>
    <div>
        <h2>Search by ID</h2>
        <input type="text" id="prodId" size="5" />
        <input type="button" value="Search" onclick="find();" />
        <p id="product" />
    </div>
    <div>
        First Name: <input type="text" ng-model="fname" /> <br />
        Last Name: <input type="text" ng-model="lname" /> <br />
        Result: {{fname +' '+ lname}}
    </div>
    <script src="scripts/angular.min.js"></script>
    <script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-2.0.3.min.js"></script>
    <script>
        var uri = 'api/product';
        $(function () {
            $.getJSON(uri).done(function (data) {

                $.each(data, function (key, item) {
                    $('<li>', { text: formatItem(item) }).appendTo($('#products'));
                });
            });
        });

        function formatItem(item) {
            return item.Name + ': $' + item.Price;
        }
        function find() {
            var id = $('#prodId').val();
            $.getJSON(uri + '/' + id)
                .done(function (data) {
                    $('#product').text(formatItem(data));
                })
                .fail(function (jqXHR, textStatus, err) {
                    $('#product').text('Error: ' + err);
                });
        }
    </script>


</body>





</html>
